.calcu .chasis {
    width: 17rem;
    height: 22rem;
    background-color: blanchedalmond;
    
}

.calcu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcu .chasis .displayPanel {
    width: 15rem;
    height: 4rem;
    background-color: aliceblue;
    margin: 1rem;
    display: flex;
}

.calcu .chasis .inputs .numbers .seven, .four, .one, .pakumpleto{
    display: flex;
    gap: 10px;
}

.num {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black ;
}

.calcu .chasis .inputs {
    display: flex;
    justify-content: space-between;
}

.numbers{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

